@keyframes mytranslateY {
    100% {
        transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        display: block
    }
}

@-moz-keyframes mytranslateY {
    100% {
        transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1
    }
}

@-webkit-keyframes mytranslateY {
    100% {
        ransform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1
    }
}

@-o-keyframes mytranslateY {
    100% {
        transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1
    }
}

@keyframes myscale {
    0% {
        transform: scale(1.6);
        -ms-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -o-transform: scale(1.6)
    }

    100% {
        transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1)
    }
}

@-moz-keyframes myscale {
    0% {
        transform: scale(1.6);
        -ms-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -o-transform: scale(1.6)
    }

    100% {
        transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1)
    }
}

@-webkit-keyframes myscale {
    0% {
        transform: scale(1.6);
        -ms-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -o-transform: scale(1.6)
    }

    100% {
        transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1)
    }
}

@-o-keyframes myscale {
    0% {
        transform: scale(1.6);
        -ms-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -o-transform: scale(1.6)
    }

    100% {
        transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1)
    }
}

@keyframes to_top {
    0% {
        opacity: 0
    }

    100% {
        transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1)
    }
}

@-moz-keyframes to_top {
    0% {
        transform: scale(1.6);
        -ms-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -o-transform: scale(1.6)
    }

    100% {
        transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1)
    }
}

@-webkit-keyframes to_top {
    0% {
        transform: scale(1.6);
        -ms-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -o-transform: scale(1.6)
    }

    100% {
        transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1)
    }
}

@-o-keyframes to_top {
    0% {
        transform: scale(1.6);
        -ms-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -o-transform: scale(1.6)
    }

    100% {
        transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1)
    }
}

@keyframes to_width {
    0% {
        width: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0
    }

    50% {
        width: 40%;
        filter: alpha(opacity=50);
        -moz-opacity: .5;
        -khtml-opacity: .5;
        opacity: .5
    }

    100% {
        width: 80%;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1
    }
}

@-moz-keyframes to_width {
    0% {
        width: 80%;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1
    }

    25% {
        width: 40%;
        filter: alpha(opacity=50);
        -moz-opacity: .5;
        -khtml-opacity: .5;
        opacity: .5
    }

    50% {
        width: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0
    }

    75% {
        width: 40%;
        filter: alpha(opacity=50);
        -moz-opacity: .5;
        -khtml-opacity: .5;
        opacity: .5
    }

    100% {
        width: 80%;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1
    }
}

@-webkit-keyframes to_width {
    0% {
        width: 80%;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1
    }

    25% {
        width: 40%;
        filter: alpha(opacity=50);
        -moz-opacity: .5;
        -khtml-opacity: .5;
        opacity: .5
    }

    50% {
        width: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0
    }

    75% {
        width: 40%;
        filter: alpha(opacity=50);
        -moz-opacity: .5;
        -khtml-opacity: .5;
        opacity: .5
    }

    100% {
        width: 80%;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1
    }
}

@-o-keyframes to_width {
    0% {
        width: 80%;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1
    }

    25% {
        width: 40%;
        filter: alpha(opacity=50);
        -moz-opacity: .5;
        -khtml-opacity: .5;
        opacity: .5
    }

    50% {
        width: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0
    }

    75% {
        width: 40%;
        filter: alpha(opacity=50);
        -moz-opacity: .5;
        -khtml-opacity: .5;
        opacity: .5
    }

    100% {
        width: 80%;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1
    }
}

@keyframes left_widthbigger {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

@-moz-keyframes left_widthbigger {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

@-webkit-keyframes left_widthbigger {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

@-o-keyframes left_widthbigger {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

@keyframes left_widthsmaller {
    0% {
        width: 100%
    }

    100% {
        width: 0%
    }
}

@-moz-keyframes left_widthsmaller {
    0% {
        width: 100%
    }

    100% {
        width: 0%
    }
}

@-webkit-keyframes left_widthsmaller {
    0% {
        width: 100%
    }

    100% {
        width: 0%
    }
}

@-o-keyframes left_widthsmaller {
    0% {
        width: 100%
    }

    100% {
        width: 0%
    }
}

@keyframes move_left {
    0% {
        width: 0%
    }

    50% {
        width: 40%
    }

    100% {
        width: 80%
    }
}

@-moz-keyframes left_width {
    0% {
        width: 0%
    }

    50% {
        width: 40%
    }

    100% {
        width: 80%
    }
}

@-webkit-keyframes left_width {
    0% {
        width: 0%
    }

    50% {
        width: 40%
    }

    100% {
        width: 80%
    }
}

@-o-keyframes left_width {
    0% {
        width: 0%
    }

    50% {
        width: 40%
    }

    100% {
        width: 80%
    }
}

@font-face {
    font-family:'youyuan';src:url("../fonts/youyuan.ttf")
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'youyuan';
    font-weight: normal
}

html {
    font-size: 62.5%;
    width: 100%;
    overflow: hidden
}

body {
    font-size: 1.4rem;
    overflow: hidden
}

a {
    color: #fff
}

h1 {
    margin: 30px 0 50px;
    font-size: 3rem
}

h2 {
    margin: 20px 0
}

h3 {
    margin: 20px 0
}

table {
    border-collapse: collapse
}

input,textarea,button {
    outline: none;
    padding: 12px;
    font-size: 1.4rem;
    border: 1px solid #e5e5e5;
    background: none
}

.clear_both {
    clear: both
}

section {
    width: 100%
}

section.page_one {
    background:#000000 url(../images/bg10.jpg) no-repeat center center;
    animation: 0.4s myscale 1;
    color: #fff
}
section.page_two{
    background:#2D161E url(../images/bg11.jpg) no-repeat center center;
    animation: 0.4s myscale 1;
    color: #fff;

}
section.page_two:before{
  content: "";
  width: 100%;
  height: 100%;
  position: Absolute;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at left, rgba(115,74,82, 0.1) 0%, rgba(115,74,82, 0.8) 50%, #2c3e50 100%);
  /*background: radial-gradient(ellipse at left, rgba(87, 43, 40, 0.1) 0%, rgba(87, 43, 40, 0.8) 50%, #2c3e50 100%);*/
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
}
section.page_three{
    background: url(../images/bg1.png) no-repeat center center;
    animation: 0.4s myscale 1;
    color: #fff
}
section.page_four{
    background: url(../images/bg4.jpg) no-repeat center center;
    animation: 0.4s myscale 1;
    color: #fff
}
section.page_five{
    background: url(../images/bg6.jpg) no-repeat center center;
    animation: 0.4s myscale 1;
    color: #fff
}

section.page_two .con_wrap,section.page_three .con_wrap,section.page_four .con_wrap,section.page_five .con_wrap,section.page_six .con_wrap {
    transform: translateY(200px);
    -ms-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    animation: 1s mytranslateY;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards
}

.page_one {
    display: none
}

.page_two {
    display: none;
    background: #F4F4F4
}

.page_three {
    display: none;
    background: #fff
}

.page_four {
    display: none;
    background: #F4F4F4
}

.page_five {
    display: none;
    background: #fff
}

.con_wrap {
    width: 100%;
    margin: 0 auto 0;
    padding: 2rem 0;
    overflow: hidden
}

.tit_wrap {
    text-align: center
}

.tit_wrap h1 {
    width: 100%;
    margin: 0px auto 50px;
    position: relative;
    line-height: 4.2rem
}

.tit_wrap h1:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -20px;
    left: 0;
    border: 1px dashed #9eddf2;
    -webkit-animation: 25s left_widthsmaller linear 1s infinite;
    -moz-animation: 25s left_widthsmaller linear 1s infinite;
    -ms-animation: 25s left_widthsmaller linear 1s infinite;
    -o-animation: 25s left_widthsmaller linear 1s infinite;
    animation: 25s left_widthsmaller linear 1s infinite
}

.tit_wrap .scissors {
    display:none;
    width: 0%;
    height: 20px;
    position: absolute;
    top: 60px;
    right: 0;
    -webkit-animation: 25s left_widthbigger linear 1s infinite;
    -moz-animation: 25s left_widthbigger linear 1s infinite;
    -ms-animation: 25s left_widthbigger linear 1s infinite;
    -o-animation: 25s left_widthbigger linear 1s infinite;
    animation: 25s left_widthbigger linear 1s infinite
}

.tit_wrap .scissors span {
    width: 20px;
    height: 20px;
    float: left;
    background: url(../images/sprite_img.png) no-repeat -37px -50px
}

.tit_wrap h2 {
    margin: 60px 0 0 0
}

.tit_wrap+div {
    /*margin: 40px 0 0 0*/
}

aside {
    width: 40px;
    display: block;
    position: fixed;
    top: 42%;
    right: 10px;
    transform: translate(-42%, 0);
    -webkit-transform: translate(-42%, 0);
    -moz-transform: translate(-42%, 0);
    -ms-transform: translate(-42%, 0);
    -o-transform: translate(-42%, 0);
    z-index: 100;
}

aside a {
    width: 14px;
    height: 14px;
    display: block;
    position: relative;
    margin: 25px 0;
    border-radius: 50%;
    background: #d9d9d9;
    cursor: pointer
}

aside a span {
    width: 60px;
    height: 20px;
    display: none;
    position: absolute;
    top: -2px;
    color: #80d6f2;
    right: 25px;
    font-size: 1.6rem;
    text-align: right
}

aside a:hover span {
    display: block
}

aside .cur_a {
    background: #80d6f2
}

aside .cur_a span {
    color: #80d6f2;
    text-decoration: underline
}

nav {
    width: 100%;
    position: relative
}

nav .nav_wrap {
    width: 96%;
    margin: 0 auto;
    padding: 2.4rem 0;
    overflow: hidden
}

.resume_logo {
    width: 30%;
    float: left;
    text-align: center;
}

.resume_logo a {
    font-size: 5rem
}

.nav_bar {
    width: 60%;
    float: right
}

.nav_bar ul li {
    width: 20%;
    float: left;
    font-size: 2.4rem
}

.nav_bar ul li a {
    display: block;
    padding: 2rem 0;
    margin: 0 1.4rem;
    text-align: center;
    color: #fff;
    position: relative;
    transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -webkit-transition: color .5s ease-in;
    -o-transition: color .5s ease-in
}

.nav_bar ul li a:hover {
    color: #80d6f2
}

.nav_bar ul li a:after {
    width: 0;
    height: 1px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: #80d6f2;
    transition: width .5s ease-in;
    -moz-transition: width .5s ease-in;
    -webkit-transition: width .5s ease-in;
    -o-transition: width .5s ease-in
}

.nav_bar ul li a:hover:after {
    width: 100%
}

.cen_con {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden
}

.portrait {
    height: 32%;
    margin: 0 auto 0%;
    padding: 6px;
    text-align: center;
    margin-bottom: 2rem;
}

.portrait img {
    height: 100%;
    vertical-align: middle;
    border-radius: 50%
}

.cen_text {
    height: 60%
}

.cen_text h2 {
    height: 18%;
    min-height: 38px;
    margin: 0;
    font-size: 2.6rem;
}

.cen_text h3 {
    height: 18%;
    min-height: 32px;
    margin: 0;
    font-size: 2rem;
}

.cen_text hr {
    width: 100%;
    height: 1px;
    background: #999999;
    border: 0;
    margin: 0 auto 5% auto;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-animation: 1s to_width ease-in 0s 1;
    -moz-animation: 1s to_width ease-in 0s 1;
    -ms-animation: 1s to_width ease-in 0s 1;
    -o-animation: 1s to_width ease-in 0s 1;
    animation: 1s to_width ease-in 0s 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards
}

.down_arrow {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0px;
    left: 0
}

.down_arrow a {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer
}

.down_arrow a span {
    width: 18px;
    height: 18px;
    display: block;
    margin: 15px;
    background: url(../images/sprite_img.png) no-repeat -18px -50px;
    transition: background .5s ease-in;
    -moz-transition: background .5s ease-in;
    -webkit-transition: background .5s ease-in;
    -o-transition: background .5s ease-in
}

.down_arrow a:hover {
    border: 1px solid #80d6f2
}

.down_arrow a:hover span {
    background: url(../images/sprite_img.png) no-repeat -18px -50px
}

.myinfo {
    display:none;
    width: 100%;
    float: left;
    padding: 0 20px
}

.myinfo table {
    width: 100%;
    margin: 20px auto
}

.myinfo table tr td {
    font-size: 1.8rem;
    padding: 15px 15px 15px 30px;
    text-align: left
}

.myinfo table tr td img {
    border-radius: 50%
}

.myinfo table tr td span {
    width: 30px;
    height: 30px;
    display: block
}

.myinfo table tr td a {
    color: #666
}

.myinfo table tr:last-child td p {
    padding: 10px 0 0 0
}

.skill_con {
    width: 100%;
    overflow: hidden
}

.canvas_wrap {
    width: 40%;
    float: left;
    overflow: hidden;
    padding: 30px 0 0 0
}

.text_wrap {
    width: 60%;
    float: left;
    padding: 20px 0 0 20px
}

.text_wrap p {
    font-size: 1.8rem;
    line-height: 24px;
    padding: 15px 0
}

.canvas_con {
    width: 44%;
    height: 30%;
    /*margin: 10px 15px;*/
    float: left;
    position: relative
}

.text_con {
    width: 160px;
    height: 80px;
    position: absolute;
    top: 25px;
    left: 0;
    text-align: center;
    padding: 20px
}

.text_con p {
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: bold
}

.work_con {
    position: relative
}

.work_text {
    width: 100%;
    padding: 0 0 47px 159px;
    position: relative
}

.work_text:nth-child(2) {
    padding: 0 0 47px 140px
}

.work_text:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 140px;
    border-left: solid 1px #80d6f2
}

.work_con:last-child .work_text {
    padding-bottom: 0px
}

.programe {
    position: relative;
    overflow: hidden
}

.work_time {
    width: 120px;
    height: 120px;
    float: left;
    padding: 40px 0 40px 0;
    font-size: 1.7rem;
    color: #fff;
    background: rgba(73,61,70,.6);;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 0
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(73,61,70);
    position: absolute;
    top: 20px;
    left: 160px
}

.arrowpart {
    float: left;
    width: 15px;
    height: 50px;
    background: url(../images/arrow-left.png) no-repeat 0 23px
}

.exCon {
    background: rgba(73,61,70,.6);
    border-bottom: solid 4px #e5e5e5;
    padding: 22px 47px 20px 47px;
    margin-left: 15px;
    text-align: left
}

.exCon h4 {
    color: #fff;
}
/*.exCon h5,.exCon h4,.exCon p{line-height:4rem;}*/
.exCon h5 {
    color: #fff;
    font-size:1.4rem;
}

.exCon p {
    color: #fff;
}

ul.con_style {
    overflow: hidden;
    padding: 0 0 20px 0
}

ul.con_style li {
    width: 33.33%;
    float: left;
    margin: 20px 0;
    overflow: hidden
}

ul.con_style li span {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 20px;
    background: url("../images/sprite_img.png")
}

ul.con_style li p {
    text-align: center;
    font-size: 1.8rem
}

ul.con_style li p a {
    color: #333
}

ul.con_style li:nth-child(1) span {
    background-position: 0 -70px
}

ul.con_style li:nth-child(2) span {
    background-position: -50px -70px
}

ul.con_style li:nth-child(3) span {
    background-position: -100px -70px
}

.contact_info {
    width: 100%
}

.contact_info form {
    width: 100%;
    overflow: hidden;
    padding: 5px 0
}

.contact_info form label {
    width: 33.33%;
    padding: 0 10px 0 0;
    height: 70px;
    float: left
}

.contact_info form label p {
    color: red;
    line-height: 2rem;
    padding: 0 12px
}

.contact_info form label:nth-child(3) {
    padding: 0
}

.contact_info form label:nth-child(4) {
    width: 100%;
    height: 215px;
    padding: 0
}

.contact_info form input[type="text"] {
    width: 100%;
    float: left;
    background: #ffffff;
    color: #333
}

.contact_info form textarea {
    width: 100%;
    height: 180px;
    background: #ffffff;
    resize: none;
    color: #333
}

.contact_info form button {
    color: #fff;
    padding: 0.6em 1.4em;
    font-size: 1.4rem;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #5BA4E8;
    background: #5BA4E8
}
.my_cxfbox1{
  float: right;
  font-size: 2rem;
  line-height: 4rem;
  margin-right: 14rem;
  z-index: 1500;
  right: 1rem;
  position: absolute;
}

.my_style{font-size:2rem;font-weight: bold;margin-bottom:20px;}
.my_style p{
    font-weight: bold;
    margin-top: 10px;
    line-height: 2.6rem;
}
.con_wrap .tit_wrap .my_cxfimg{display:none;}

/*轮播图*/
#focus_Box{position:relative;width:810px;height:450px;float:left;margin-left:13rem;}
#focus_Box ul{position:relative;width:810px;height:308px}
#focus_Box li{z-index:0;position:absolute; width:0px;background:#787878;height:0px;top:146px;cursor:pointer;left:377px;border-radius:4px;box-shadow:1px 1px 12px rgba(200, 200, 200, 1)}
#focus_Box li img{width:100%;background:url(images/loading.gif) no-repeat center 50%;height:450px;vertical-align:top}
#focus_Box li p{position:absolute;left:0;bottom:0px;width:100%;height:40px;line-height:40px;background:url(../images/float-bg.png) repeat;text-indent:8px;color:#fff;text-align:center;}
#focus_Box li p span{display:inline-block;width:70%;height:40px;overflow:hidden;}
#focus_Box .prev,#focus_Box .next{display:block;z-index:100;overflow:hidden;cursor:pointer;position:absolute;width:52px;height:52px;top:131px;}
#focus_Box .prev{background:url(../images/btn.png) left bottom no-repeat;left:0px}
#focus_Box .next{background:url(../images/btn.png) right bottom no-repeat;right:0px}
#focus_Box .prev:hover{background-position:left top;}
#focus_Box .next:hover{background-position:right top;}
#focus_Box a.imgs-scroll-btn{display:block;position:absolute;z-index:110;top:7px;right:15px;width:51px;height:23px;overflow:hidden;background:url(../images/share-btn.png) no-repeat;text-indent:-999px;}
.imageflow{height:360px;overflow:hidden; position:relative; text-align:left; visibility:hidden; width:100%}
.imageflow img{border:none; position:absolute; top:0px; visibility:hidden; -ms-interpolation-mode:bicubic}
.imageflow p{margin:0 auto; text-align:center}
.imageflow .loading{border:1px solid #ccc; height:15px; left:50%; margin-left:-106px; padding:5px; position:relative; visibility:visible; width:200px}
.imageflow .loading_bar{background:#ccc; height:15px; visibility:visible; width:1%}
.imageflow .caption{font-weight:bold; position:relative; text-align:center; z-index:10000}
.imageflow .scrollbar{border-bottom:1px solid #b3b3b3; position:relative; visibility:hidden; z-index:10001; height:1px}
.imageflow .slider{height:14px; margin:-6px 0 0 -7px; position:absolute; width:14px; z-index:10002}
.imageflow .images{overflow:hidden; white-space:nowrap}
/*end轮播图*/

.my_cxftximg{
    float:left;
}
.cen_text hr{
    margin:0;
}
@media screen and (min-width: 769px) and (max-width: 1600px) {
  .exCon h5,.exCon h4,.exCon p{line-height:4rem;}
    .con_wrap {
        width: 80%;
        padding: 1rem 0
    }
    .cen_text hr{
        margin:0;
        width: 100%;
        height: 2px;
        background: #999999;
        border: 0;
        margin: 0 auto 0% auto;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        -webkit-animation: 1s to_width ease-in 0s 1;
        -moz-animation: 1s to_width ease-in 0s 1;
        -ms-animation: 1s to_width ease-in 0s 1;
        -o-animation: 1s to_width ease-in 0s 1;
        animation: 1s to_width ease-in 0s 1;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }
    .tit_wrap+div {
        margin: 10px 0 0 0;
    }

    .tit_wrap h2 {
        margin: 0
    }

    .myinfo table tr:last-child td p {
        padding: 0
    }

    .canvas_wrap {
      width: 35%;
      float: left;
      margin-left: 9rem;
      overflow: hidden;
    }

    .text_wrap {
        width: 55%;
        float: left
    }

    .text_wrap p {
        display: inline-block;
        font-size: 1.8rem;
        line-height: 24px
    }

    .tit_wrap .scissors {
        top: 72px
    }

    .text_wrap p {
        padding: 4px 0;
        line-height: 4rem;
    }

    .canvas_con {
        margin: 5px 10px
    }
}

@media screen and (max-width: 768px) {
    .nav_bar ul li a {
        display: block;
        padding: 0.7rem 0;
        margin: 0px 0rem;
        text-align: center;
        color: #fff;
        position: relative;
    }
    .nav_bar ul li{
        width: 20%;
        float: left;
        font-size: 2rem;
    }
    .nav_bar{
        width: 70%;
        float: right;
    }
    .resume_logo a{
        font-size: 3rem;
    }
    .cen_con{
        width: 54%;
        height: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        text-align: center;
        overflow: hidden;
    }
    .cen_text h2{
        height: 18%;
        min-height: 38px;
        margin: 0;
        margin-bottom: 0.5rem;
    }
    .cen_text hr{
        width: 100%;
        height: 1px;
        background: #999999;
        border: 0;
        margin: 0 auto 10% auto;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        -webkit-animation: 1s to_width ease-in 0s 1;
        -moz-animation: 1s to_width ease-in 0s 1;
        -ms-animation: 1s to_width ease-in 0s 1;
        -o-animation: 1s to_width ease-in 0s 1;
        animation: 1s to_width ease-in 0s 1;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }
    .tit_wrap h1{
        font-weight: bold;
    }
    .tit_wrap h2{
        width: 95%;
        margin: 0 auto;
        font-size: 1.6rem;
        font-weight: bold;
    }
    .con_wrap{
        width: 95%;
    }
    .tit_wrap h1,.myinfo table tr:last-child td p{
        font-weight: bold;
    }
    .tit_wrap h2{
        width: 100%;
        margin: 0 auto;
        font-size: 1.6rem;
        font-weight: bold;
      background: rgba(41,55,84,.2);
      padding-top:1rem;
    }
    .myinfo table tr td{
        font-size: 1.4rem;
        padding: 10px 0;
        text-align: left;
        font-weight: bold;
    }
    .myinfo table tr td a{
        color: #666;
        font-weight: bold;
        font-size: 1.4rem;
    }
    .myinfo table tr:last-child td p.myobj{
        color:#666;
    }
    .myinfo_firsttd{
        display:none;
    }
    .myinfo{    width: 100%;
        padding-left: 34px;
    }
    .canvas_wrap{
        display:none;
    }
    .text_wrap{
        width:100%;
      background: rgba(41,55,84,.2);
    }
    .cen_text h2{
        font-size:2.2rem;
        margin-bottom:2rem;
    }
    .cen_con{
        width:100%;
        top:46%;
    }
   .con_wrap .tit_wrap .my_cxfimg{
        display:block;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .my_cxfimg img{
        width: 63%;
        border-radius: 50%;
    }
  .text_wrap p{
    font-size: 1.8rem;
    line-height: 24px;
    padding: 15px 0;
    padding: 0;
    padding-bottom: 1rem;
  }
  .work_time{
    background: rgba(73,61,70,.6);
  }
  .triangle-left{display:none;}
  .exCon{
    border-bottom: solid 4px #e5e5e5;
    /*margin-left: 15px;*/
    margin-left:0;
    text-align: left;
    /*padding: 1rem 1.5rem;*/
    background: rgba(73,61,70,.8);
    color: #fff;
    padding:0;
  }
  .exCon h4,.exCon h5,.exCon p{
    color:#fff;
    line-height: 2.2rem;
    padding-left:1rem;
  }
  .my_style span:before{
    content: " ";
    display:block;
  }
  .tit_wrap h2{
    margin-bottom:1rem;
  }
  .tit_wrap h2 span:before{
    content:" ";
    display:block;
  }
  /*手机下轮播*/
  .my_style{
    font-size: 1.4rem;
    font-weight: bold;
    margin:0;
  }
  .my_style p{
    font-weight: bold;
    margin-top: 10px;
    line-height: 1.6rem;
  }
  .con_wrap{
    width: 100%;
    margin: 0 auto 0;
    /* padding: 2rem 0; */
    padding-top: 1rem;
    overflow: hidden;
  }
  .tit_wrap h1{
    width: 100%;
    margin: 0px auto 20px;
    position: relative;
    line-height: 4.2rem;
  }
  .tit_wrap h1:after{
    bottom: -8px;
  }
  .my_cxfbox1{
    float: right;
    width:50%;
  font-size: 1.6rem;
    line-height: 1.9rem;
    /* margin-right: 14rem; */
    z-index: 1500;
    /* margin: 0 auto; */
    /* right: 1rem; */
    left: 3rem;
    top: 33rem;
    position: absolute;
  }
  /*.my_cxfslider{*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*background-size: cover;*/
    /*font-size: 0;*/
  /*}*/
  /*#wrapper{*/
    /*width: 80%;*/
    /*max-width: 1300px;*/
    /*height: calc(52% + 32vw);*/
    /*max-height: 725px;*/
    /*margin: 5% auto;*/
    /*position: relative;*/
    /*margin-top: 0;*/
    /*/!* margin-top: 1rem; *!/*/
    /*/!* margin-left: 7rem; *!/*/
    /*perspective: 2000px;*/
  /*}*/
  /*#wrapper #nextBox{*/
    /*width: calc(10vw + 50px);*/
    /*height: calc(10vh + 25px);*/
    /*position: absolute;*/
    /*font-size: calc(2vw + 5px);*/
    /*top: calc(95% - 10vw);*/
    /*right: calc(-15% + 10px);*/
    /*text-align: left;*/
    /*text-indent: calc(2.75vw + 10px);*/
    /*cursor: pointer;*/
    /*user-select: none;*/
    /*z-index: 1030;*/
    /*color: #774B53;*/
    /*letter-spacing: 3px;*/
    /*font-weight: 700;*/
    /*font-family: 'Londrina Sketch';*/
    /*text-shadow: 0 0 5px black;*/
    /*background-image: url(https://i.imgsafe.org/c1036dcdc0.png);*/
    /*background-size: 100% 100%;*/
    /*line-height: calc(10vh + 10px);*/
    /*border-radius: 50%;*/
  /*}*/
}
/*# sourceMappingURL=main.css.map */
